div:hover{
    border: 5px solid black;
}

.cor1:hover{
    border: 5px solid green;
}

.cor2:hover{
    border: 5px solid orange;
}

.cor3:hover{
    border: 5px solid blue;
}

.corescura:hover{
    border: 5px solid black;
}
.corclara:hover{
    border: 5px solid gray;
}

div h3 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.cor3 {
    font-size: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cor1, .cor3, .corclara{
    font-style: italic;
}